*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul,
li{
    text-decoration: none;
    list-style-type: none;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 1em 13em;
}


.top-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
}

.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
}

.left-side{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
}

.hero{
    display: flex;
    padding: 7em 0em;
    gap: 13px;
}

.hero-head{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: .3em;
}

.textbox{
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: .3em;
}

.cool-button{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: .35em 1.5em;
    border-radius: 8px;
    font-size: 120%;
}
.hero-img{
    flex-wrap: wrap;
    width: 100%;
}